<div id="azDiv">
              <% @req.associate_tag = 'resnate-21' %>
              <% @req.configure(   aws_access_key_id:     ENV['S3_KEY'],aws_secret_access_key: ENV['S3_SECRET'], associate_tag:         'resnate-21') %>
              <% params = {'SearchIndex' => 'Apparel', 'Keywords'    => @search_query, 'ResponseGroup' => 'ItemAttributes, Offers, Images', 'Availability' => "Available", 'Condition' => "All", 'ItemPage'    => 1} %>
              <% res = @req.item_search(params) %>
              <% hash = res.to_h %>
             <% items = hash["ItemSearchResponse"]["Items"]["Item"] %>
             <% noOfItems = Integer(hash["ItemSearchResponse"]["Items"]["TotalResults"]) %>
             <% if noOfItems == 0 %>
              <div id="noMerch">No Merch Available from Amazon</div>
             <% else %>
              <% items.take(3).each do |i| %>
                <% if i["LargeImage"].nil? %>
                  <% next %>
                <% else %>
                  <%= link_to image_tag(i["LargeImage"]["URL"]), i["DetailPageURL"], target: "_blank", class: 'azImg' %>
                <% end %>
              <% end %>
            <% end %>
</div>