 <%= stylesheet_link_tag "resnate_pages", media: "all",
                                           "data-turbolinks-track" => true %>
<div id="azDiv">
              <% @req.associate_tag = 'resnate-21' %>
              <% @req.configure(   aws_access_key_id:     'AKIAIK5DPVPX6A2SKBSQ',aws_secret_access_key: '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', associate_tag:         'resnate-21') %>
              <% params = {'SearchIndex' => 'Apparel', 'Keywords'    => @search_query, 'ResponseGroup' => 'ItemAttributes, Offers, Images', 'Availability' => "Available", 'Condition' => "All", 'ItemPage'    => 1} %>
              <% res = @req.item_search(params) %>
              <% hash = res.to_h %>
             <% items = hash["ItemSearchResponse"]["Items"]["Item"] %>
             <% noOfItems = Integer(hash["ItemSearchResponse"]["Items"]["TotalResults"]) %>
             <% if noOfItems == 0 %>
              <div id="noMerch">No Merch Available from Amazon</div>
             <% else %>
              <% items.take(3).each do |i| %>
                <% if i["LargeImage"].nil? %>
                  <% next %>
                <% else %>
                  <%= link_to image_tag('https://d1ge0kk1l5kms0.cloudfront.net/images/I/' + i["LargeImage"]["URL"][38..-1]), i["DetailPageURL"].insert(4, 'S'), target: "_blank", class: 'azImg' %>
                <% end %>
              <% end %>
            <% end %>
</div>