<% if current_user.nil? %>
	<div id="Welcome">
	<h2 id="bigResnate">Resnate.</h2>
      <h3>The social network for people who love music.</h3>

      <div id="Welcome2">
        <%= link_to image_tag("ResnateCropped.png", id: 'rsCrop'), "/auth/facebook" %>
      
        <div id="signIn"><%= link_to simple_format("Sign in with Facebook<br />Follow your Friends"), "/auth/facebook", id: "sign_in" %></div>
        <h4 id="homeFooter">Built using YouTube + Songkick + Amazon + Setlist.fm APIs. </h4>
      </div>
     </div>
<% else %>
	<div class="mobileHeader">
		<div class="mobileHeaderDiv" id="mobileProfile">
			Profile
		</div>
		<div class="mobileHeaderDiv" id="mobileFeed">
			Feed
		</div>
		<div class="mobileHeaderDiv" id="mobileArtists">
			Search artists
		</div>
		<div class="mobileHeaderDiv" id="mobilePeople">
			Search people
		</div>
	</div>
	<div id="mobileMainBody">
		
	</div>

	<script type="text/javascript">
$(function(){
	$.get('/activities/index', function(result){
		$('#mobileMainBody').html(result);
	});
	
});

$('#mobileProfile').click(function(){
	$.get('/<%=current_user.id %>/profile', function(result){
		$('#mobileMainBody').html(result);
	});
});

</script>
<% end %>