<div id="container">

  <div id="Welcome">
    <div id="Welcome1">
      
      <h1 id="bigResnate">Resnate.</h1>
      <h4>Coming Soon.</h4>
      
      
    </div>
  
    <div id="Welcome2">
      <%= image_tag "ResnateCropped.png", id: 'rsCrop' %>
      <br><br><br>
      
    </div>
  </div></div>
