<div id="landingTabletBkgd">
	<div id="landingTablet">
    	<%= image_tag "ResnateCropped.png", id: "landingIconTablet" %>
    	<div id="tabletWords">
    		<div id="landingResnateTablet">resnate</div>
    		<div id="tabletTagline">Music, Gigs, Merch.</div>
    	</div>
    	<br>
    	<iframe id="landingVideo" frameborder="0" src="https://www.youtube.com/embed/7lAz45swqHk?rel=0&showinfo=0&controls=0"></iframe>

    <div id="tabletSignup">Sign up for the beta and to receive updates:<br>NEW: Enter email address to download iOS beta.</div>
    
    <form>
    <input type="email" value="" name="EMAIL" class="email" id="tabletEmail" placeholder="Email address" required>
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_29f152e51961d91c69623accf_7852194cd0" tabindex="-1" value=""></div>
    </form>
    <h5 id="tabletInvalidEmail">Invalid email address.</h5>
    <div>
    <%= link_to image_tag("facebookBrand.png", id: "tabletFb", class: "landingSocial"), "https://facebook.com/resnatemusic", target: "_blank" %>
    <%= link_to image_tag("twitterBrand.png", id: "tabletTwit", class: "landingSocial"), "https://twitter.com/resnate", target: "_blank" %>
    </div>

    <h4 id="tabletFooter">Built using <a href="https://developers.google.com/youtube/" target="_blank">YouTube</a> + <a href="https://www.songkick.com/developer" target="_blank">Songkick</a> + <a href="https://affiliate-program.amazon.co.uk/gp/advertising/api/detail/main.html" target="_blank">Amazon</a> + <a href="http://api.setlist.fm/docs/index.html" target="_blank">Setlist.fm</a> APIs.</h4>
	</div>
</div>

<script type="text/javascript">

	function validateEmail(email) {
      var re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
    }

	$("#tabletEmail").keydown(function(event){
        if(event.keyCode==13){
          if(validateEmail($('#tabletEmail').val()) == true) {
          $.post("//resnate.us12.list-manage.com/subscribe/post?u=29f152e51961d91c69623accf&amp;id=7852194cd0", { EMAIL:  $('#tabletEmail').val()})
          $('#tabletEmail').css('border', '1px solid darkgrey');
          $('#tabletInvalidEmail').html('Thanks for signing up! Please check your inbox for the confirmation email.');
          $('#tabletInvalidEmail').animate({'opacity': '1'}, 'fast');
        } else {
          $('#tabletEmail').css('border', '2px solid #E50049');
          $('#tabletInvalidEmail').html('Invalid email address.');
          $('#tabletInvalidEmail').animate({'opacity': '1'}, 'fast');
        }
        }
      });

</script>