<div id="landingTabletBkgd">
	<div id="landingTablet">
    	<%= image_tag "ResnateCropped.png", id: "landingIconTablet" %>
    	<div id="landingResnateTablet">resnate</div>
    	<div id="tabletWords">Music, Gigs, Merch.</div>
    	<iframe id="landingVideo" frameborder="0" src="https://www.youtube.com/embed/7lAz45swqHk?rel=0&showinfo=0&controls=0"></iframe>

    <div>Sign up for the beta and to receive updates:</div>
    
    <form>
    <input type="email" value="" name="EMAIL" class="email" id="landingEmail" placeholder="Email address" required>
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_29f152e51961d91c69623accf_7852194cd0" tabindex="-1" value=""></div>
    </form>
    <h5 id="invalidEmail">Invalid email address.</h5>
    <div>
    <%= link_to image_tag("facebookBrand.png", id: "landingFb", class: "landingSocial"), "https://facebook.com/resnatemusic", target: "_blank" %>
    <%= link_to image_tag("twitterBrand.png", id: "landingTwit", class: "landingSocial"), "https://twitter.com/resnate", target: "_blank" %>
    </div>

    <h4 id="homeFooter">Built using <a href="https://developers.google.com/youtube/" target="_blank">YouTube</a> + <a href="https://www.songkick.com/developer" target="_blank">Songkick</a> + <a href="https://affiliate-program.amazon.co.uk/gp/advertising/api/detail/main.html" target="_blank">Amazon</a> + <a href="http://api.setlist.fm/docs/index.html" target="_blank">Setlist.fm</a> APIs.</h4>
	</div>
</div>
