body {
	background-image: image-url("testBkgd.jpg");
    background-position: 50% 50%;
    font-family: 'Lato', "Helvetica", sans-serif;
    color: white;
    margin: 0px;
    font-size: 100%;
    a {
    	color: white;
    	text-decoration: none;
    }
}

input {
	color: black;
}

#Welcome {
  text-align: center;
  h2 {
  	font-size: 2em;
  }
  h3 {
  	font-size: 1em;
  }
  font-size: 5em;
  width: 100%;
  img {
  	margin-top: 15%;
  	margin-bottom: 10%;
  	width: 50%;
  }
}

#homeFooter {
	margin-top: 5%;
	font-size: 0.3em;
}

.mobileHeader {
	height: 8.5%;
	background-color: #801336;
	width: 100%;
	font-size: 3.5em;
	.glyphicon {
		font-size: 1.3em;
	}
}

#mobileHomePic {
	height: 100%;
	float: left;
}

#mobileHeaderPoints {
}

.mobileHeaderDiv {
	width: 20%;
	height: 100%;
	float: left;
	text-align: center;
	.glyphicon {
		margin-top: 15px;
		margin-bottom: 10px;
		display: block;
	}
}

#mobileMainBody {
	display: inline-block;
	height: 90%;
	width: 100%;
	font-size: 5em;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;    
}

.mobileDivider {
	height: 20%;
	margin-top: 5%;
}

.mobileInputDivider {
	height: 30%;
	margin-top: 5%;
}

.mobileReviewDivider {
	height: 40%;
	background-color: white;
	color: black;
	margin-bottom: 20%;
}

.mobileDivider, .mobileReviewDivider, .mobileInputDivider {
	
	img {
		height: 100%;
		display: inline-block;
	}
}

.mobilePageHeader {
	height: 10%;
	margin-top: 5%;
	margin-left: 2%;
}

.mobileInfo, .mobileGeneralInfo {
	display: inline-block;
	vertical-align: top;
	margin-left: 2%;
	height: 100%;
	max-width: 60%;
	line-height: 1.9em;
}

.mobileInfo {
	margin-top: 2em;

}

.mobileBadgeImg {
	width: 25%;
	height: auto !important;
	max-height: 100%;
	margin: 2% 2.5% 0% 2.5%;
}

#mobileBadges, #mobileWriteSongReview, #mobileInputSKID {
	text-align: center;
}

#mobileYTPaste, #user_songkickID {
	width: 90%;
	margin-top: 2%;
	text-align: center;
	height: 30%;
	::-webkit-input-placeholder {
   		text-align: center;
	}
}

#mobileSKIDSubmit, #mobileYTSubmit {
	margin-top: 2%;
	background-color: #E50049;
	color: white;
	padding: 0.5em;
	border: none;
}

.mobileBoldNames {
	font-weight: bold;
}

.mobileReviewImgNName {
	height: 50%;
	overflow: hidden;
}

.mobileReviewContent {
	margin-top: 5%;
	height: 40%;
	overflow: hidden;
}

.expandReview {
  background-color: #E50049;
  color: white;
  text-align: center;
}


.hiddenReviewID {
	display: none;
}