html {
	height: 100vh;
}

body {
	background-image: image-url("testBkgd.jpg");
  	background-repeat:no-repeat;
    background-position: 50% 50%;
    font-family: 'Lato', "Helvetica", sans-serif;
    color: white;
    margin: 0px;
    height: 100vh;
    font-size: 100%;
    a {
    	color: white;
    	text-decoration: none;
    }
}

#Welcome {
  text-align: center;
  
  width: 100%;
  img {
  	width: 50%;
  }
}

#homeFooter {
	position: absolute;
	bottom: 10px;
}

.mobileHeader {
	height: 10%;
	background-color: #801336;
	width: 100%;
	font-size: 2.5vh;
}

#mobileHomePic {
	height: 100%;
	float: left;
}

#mobileHeaderPoints {
}

.mobileHeaderDiv {
	width: 20%;
	height: 100%;
	float: left;
	text-align: center;
	.glyphicon {
		margin-top: 15px;
		margin-bottom: 10px;
		display: block;
	}
}

#mobileMainBody {
	display: inline-block;
	height: 90%;
	font-size: 500%;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;    
}

.mobileDivider {
	height: 20%;
	vertical-align: top;
	margin-top: 5%;
	margin-left: 5%;
	img {
		height: 100%;
		display: inline-block;
	}
}

.mobileInfo {
	display: inline-block;
	vertical-align: top;
}