body {
	background-image: image-url("testBkgd.jpg");
  	background-repeat:no-repeat;
    background-position: 50% 50%;
    font-family: 'Lato', "Helvetica", sans-serif;
    color: white;
    margin: 0px;
    height: 100%;
    font-size: 100%;
    a {
    	color: white;
    	text-decoration: none;
    }
}

#Welcome {
  text-align: center;
  
  width: 100%;
  img {
  	width: 50%;
  }
}

#homeFooter {
	position: absolute;
	bottom: 10px;
}

.mobileHeader {
	height: 10%;
	background-color: #801336;
	width: 100%;
	font-size: 4.2em;
}

#mobileHomePic {
	height: 100%;
	float: left;
}

.mobileHeaderDiv {
	width: 25%;
	float: left;
	text-align: center;
	&:active {
		color: #E50049;
	}
	.glyphicon {
		margin-top: 15px;
		margin-bottom: 10px;
		display: block;
	}
}

#mobileMainBody {
	height: 90%;
}

.mobileDivider {
	height: 25%;
	background-color: #E50049;
	vertical-align: top;
	img {
		height: 100%;
		display: inline-block;
	}
}

.mobileInfo {
	display: inline-block;
	vertical-align: top;
}