body {
	background-image: image-url("mobilePreview.png");
	background-repeat:no-repeat;
	background-attachment: fixed;
    background-size: 100% 100%;
    text-align: center;
}

#landingIcon {
	height: 20%;
	margin-top: 5%;
	margin-bottom: 2.5%;
}

#landingWelcome {
	background-color: rgba(0, 0, 0, 0.7);
	height: 100%;
}

#landingResnate {
	font-size: 2em;
}

#landingVideo {
	margin: 5% 0;
}

#landingEmail {
	width: 75%;
}

#invalidEmail {
	opacity: 0;
}

#landingFb {
	width: 12.5%;
}

#landingTwit {
	width: 15%;
}

#homeFooter a {
	color: #E50049 !important;	
}