<% @likes.each do |likedSong| %>
		<li class="playlistSong playlistSongLi">

			<img class="playlistYT playlistSong" src="https://img.youtube.com/vi/<%= Song.find(likedSong.likeable_id).content %>/default.jpg"></img>
			<p class="playlistSongP">
				<%= Song.find(likedSong.likeable_id).name %>
			</p>
		</li>
<% end %>
