<% if @badges.count > 0 %>
	<% @badges.each do |badge| %>
		<div class="uberBadgeDiv">
			<%= image_tag ("#{badge[:name]}.png"), class: 'uberBadgeImg' %>
			<div class="uberBadgeDescription"><%= badge[:description] %></div>
		</div>
	<% end %>
<% end %>