<% @followees.each do |f| %>

<div class="followDiv">
  <%= image_tag "https://graph.facebook.com/#{f.uid}/picture?width=100&height=100", class: "followImgs" %>
      
      <div class="followNames"><%= f.name %></div>
      <div class="hiddenID"><%= f.id %></div>
</div>

<% end %>