<% @user.followees(User).each do |fl| %>
   <% unless fl.musicLikes.nil? %>
  <% fl.musicLikes.select do |s| %>
    <% if s.gsub(/[\'.]/, '').downcase.include?(params[:search].gsub(/[\'.]/, '').downcase) == true %>
  	<%= image_tag "https://graph.facebook.com/#{fl.uid}/picture?width=100&height=100", class: "friendsWhoLikeImgs" %>
      
      
      <div class="hiddenID"><%= fl.id %></div>
 	
 	<% break %>
    <% else %>
    
  	<% end %>
  <% end %>
  <% end %>
 <% end %>