html, body{
  z-index:-1;
   height: 100%;
   /*background-color: #E7E7E7;*/
       -webkit-animation-delay: 0.1s;
    -webkit-animation-name: fontfix;
    -webkit-animation-duration: 0.1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
}

body {
  background-image: image-url("testBkgd.jpg");
  background-repeat:no-repeat;
    background-position: 50% 50%;
    font-family: 'Lato', "Helvetica", sans-serif;
    font-size: 12px;
}

#skLink {
  font-weight: bold;
}

.modal-backdrop {
  bottom: 0;
}

p {
  margin: 0px;
}

@-webkit-keyframes fontfix {
    from { opacity: 1; }
    to   { opacity: 1; }
}

textarea {
  resize: none;
}

.shareTextarea {
  width: 408px;
  padding: 5px;
  
}



#hub {
  height: 100%;
  width: 99%;
  display: inline-block;
  text-align: center;
  min-width: 1286px;
}


#homeSquare {
  height: 63px;
  margin-top: -7px;
}

#profilePic, #navIDPic {
  cursor: pointer;
  height: 50px;
}

.multiplePic {
  height: 50px;
  padding-right: 5px;
}

#container {
    position: absolute;
    margin-left: 250px;
    padding: 0px;
    width: calc(100% - 250px);
    height: 200%;
    
}

.box {
    position: absolute;
    width: 100%;
    height: calc(50% - 51px);
    display: inline-block;
  
}


#feedBox {
  color: white;
  overflow: auto;
  display: inline-block;
  height: calc(50% - 51px);
  padding: 7.5px;
  width: 250px;
  margin-left: -3px;
  text-align: center;
  a {
    color: white;
  }
}

#newStuff {
  width: calc(100% - 250px);
  overflow: auto;
  display: inline-block;
  vertical-align: top;
  padding: 0px 15px;
  height: calc(50% - 51px);
}

#mainWriteSongReview {
  color: white;
  text-align: center;
  margin-bottom: 3em;
}

#mainYTPaste, #writeGig {
  
  width: 100%;
  height: 3em;
  text-align: center;
}

#writeGig {
  background-color: #E50049;
  padding-top: 0.8em;
  cursor: pointer;
}

#newSongReview {
  width: 100%;
}

.headerRow {
  font-weight: bold;
  td {
    padding-bottom: 10px;
  }
}


.followerDiv {
  height: 50px;
}

.likesNcomments {
  margin-top: 15px;
}

.likesNpoints {
  font-weight: bold;
  color: #FF0050;
}

.rankedUser {
  margin-bottom: 30px;
}

.topLevels {
  font-weight: bold;
}

.leaderboard {
  font-size: 1.1em;
  text-align: center;
}

.leaderName {
  width: 245px;
  padding: 10px;
  display: inline-block;
}

.hiddenSongName, .commentURL, .pgID, #hiddenSongID {
  display: none;
}

.topThumb {
  top: 7px;
  margin-left: 15px;
  margin-right: 10px;
}

#topShare {
  height: 40px;
}

.topTables {
  margin-top: 20px;
}


#topSongPic, #topPhoto, #topVideo {
  height: 200px;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
}

#topPhotoInfo {
  display: inline-block;
  width: calc(100% - 300px);
  margin-left: 10px;
}

.photoModalContent {
  background-color: black;
  text-align: center;
}


#topVideoInfo {
  width: 282px;
  display: inline-block;
  margin-right: 15px;
}

#topSongName {
  display: inline-block;
  font-weight: bold;
}

body {
  min-width: 1260px;
  overflow: hidden;
}

#box1 {
  top: calc(-50% + 51px);
  overflow-y: hidden;
}


#box2 {
  top: 50%;
  left: 0%;
  margin-top: 51px;
  overflow: auto;
  color: white;
  a {
    color: white;
    &:hover {
      color: #E50049;
    }
  }
}

#search_query {
  margin-left: 12px;
}

#Welcome {
  height: 100%;
  width: 100%;
  text-align: center;
  overflow: auto;
  display: none;
  color: white;
  a {
      color: white;
      &:hover {
    color: #E50049;
    text-decoration: none;
  }
    }
  

  #homeFooter {
    margin-top: 40px;
  }
}

.tuteTextNImage {
  max-width: 950px;
  margin-bottom: 50px;
  margin-top: 50px;
  display: inline-block;
  vertical-align: top;
  h4 {
    display: inline-block;
    width: 250px;
    margin-right: 30px;
  }
}

.centred {
  text-align: center;
}

.tuteImages {
  max-height: 400px;
  max-width: 600px;
  margin-right: 30px;
  display: inline-block;
}

#badgesImage {
  height: 110px;
}

#bigResnate {
    font-size: 80px;
  }

#Welcome2 {
  margin-top: 50px;
   img{
    width: 200px;
    margin-bottom: 30px;
  }
}


  #mainYTPaste {
    color: black;
  }

#searchNsee {
    display: inline-block;
    text-align: left;
    width: 100%;
    overflow-y: scroll;
    }

  #searchNsee, #YTtest, #merchNgigs {
    height: 100%;
  }

  #Playlist {
    margin-left: 2%;
    display: inline-block;
  }

#videoResultsDiv, #Playlist {
   width: 238px;
   vertical-align: top;
   overflow-x: hidden;
   height: 100%;
   margin-bottom: 50px;
   ul {
    padding-left: 0px;
   }
}

#videoResultsDiv {
  display: none;
}

#videoResultsDiv li, .sidePlaylist, .sideNewPlaylist, .sideLiked, .sideFollowed {
  width: 100%;
  max-width: 238px;
  color: white;
  margin-bottom: 10px;
  position: relative;
  min-height: 46px;
  &:hover {
    cursor: pointer;
  }
}

.playlistSongP {
  line-height: 1.4em;
  height: 4.5em;
  padding: 5px;
  overflow: hidden;
  padding-left: 3px;
  width: calc(100% - 100px);
  display: inline-block;
}

.descriptP {
  padding: 5px;
}

#videoResultsDiv li, .playlistSong {
  background-color: #801336 !important;
  
}

#Playlist li {
  background-color: #E50049;
}

.playlistSongLi, .description {
  margin-bottom: 0px;
  border-top: 1px solid white;
}

.playlistYT {
  height: 60px;
  display: inline-block;
  vertical-align: top;
}

.sideGlyph {
  margin: 10px 30px 0px 20px;
}

.sideShare, .sideDestroy, .sideEdit, .sideFollow, .sideUnfollow {
  display: inline-block;
  width: 32%;
  text-align: center;
  height: 30px;
  margin-top: 10px;
}
.dropPlaylist {
  border: 3px solid #801336;
}

.sidePlaylistName, .sideLikedName, .sideNewPlaylistName {
  width: calc(100% - 83px);
  display: inline-block;
  padding: 4px;
  font-weight: bold;
  vertical-align: top;
}

.descriptTxt {
  color: black;
  width: 100%;
}

#newPlaylistInput, .editPlaylistInput {
  color: black;
  
}

 #newPlaylistInput {
  vertical-align: text-bottom;
}

 .editPlaylistInput {
  margin-top: 15px;
  display: none;
}

#deletePrompt {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: grey;
  height: 60px;
  width: 150px;
  text-align: center;
  padding-top: 10px;
  display: none;
  color: white;
  z-index: 9;
}

#deletePlaylistYes, #deletePlaylistNo {
  display: inline-block;
  padding: 2px 10px;
  margin-top: 5px;
  cursor: pointer;
}

#deletePlaylistYes {
  background-color: red;
  margin-right: 10px;
}

#deletePlaylistNo {
  background-color: #484848 ;
}

.dropdownPlaylistDiv, .dropdownLikeDiv {
  display: none;
  background-color: #801336 !important;
  border-top: 1px solid white;
}

#YTtest {
    margin-top: 5px;
    width: 600px;
    margin-left: 10px;
    margin-right: 10px;
    display: none;
    vertical-align: top;
    
    text-align: left;
    }

#player {
  width: 250px;
  height: 150px;
  display: inline-block;
  position: relative;
  margin-right: 10px;
}

#navNslider {
  display: inline-block;
  vertical-align: top;
  width: 235px;
  text-align: center;
  margin-top: 15px;
}

#songReviewInput {
  display: inline-block;
  vertical-align: top;
  min-width: 300px;
  width: calc(100% - 760px);
  height: 140px;
  margin: 5px 0px 0px 10px;
  color: black;
}

#songReviewContent {
  display: inline-block;
  vertical-align: top;
  max-width: 600px;
  margin-left: 40px;
  margin-top: 20px;
}

.glyphicon-fullscreen {
  font-size: 1.4em;
  margin-left: -7px;
  margin-top: 7px;
}

#slider {
  margin-top: 30px;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
  border-bottom-right-radius: 0px;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
  border-bottom-left-radius: 0px;
}

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
  border-top-right-radius: 0px;
}

.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
  border-top-left-radius: 0px;
}

#currentTime, #duration {
  margin-top: 10px;
}

#currentTime {
  float: left;
}

#duration {
  float: right;
}

#friendsLikeArtist {
  
  
  width: 360px;
  display: none;
  h6 {
    display: inline-block;
    margin-right: 10px;
  }
}

.friendsWhoLikeImgs {
  height: 40px;
}

#InfoShare {
  height: 40px;
  width: 100%;
  margin-top: 15px;

  /*background: rgba(54, 25, 25, .5); */

  display: inline-block;
  
}

#infoTitle {
 display: none;
}


#playlistName, #search_playlists, .dropdown-menu {
  color: black;
  width: 100%;
}

.dropdown-menu {
  margin-left: -17.5px;
  margin-top: 5px;
  border-radius: 0px;
  max-height: 200px;
  overflow-y: scroll;
}

#s2id_update_playlists {
  display: block;
}

.fb-share-button {
 display: inline; 
}

#currentShare {
  float: right;
  margin-top: 37.5px;
}

#csImg, .playlistCsImg, .shareGig, .shareReview {
  height: 40px; 
  vertical-align: top;
}


@-moz-document url-prefix() { 
  .csIcons, .messageIcons {
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
}

}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
 .csIcons, .messageIcons {
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
}

}


.csIcons {
  margin-left: 12px;
}

.csIcons .glyphicon-plus {
  margin-left: 5px;
}

.messageIcons {
  margin-right: 5px;
}

.message, .notification {
  
  margin: 20px 20px 30px 20px;
}

.message {
  min-height: 150px;
  max-height: 200px;
}

.notification {
  min-height: 100px;
}

.glyphicon-thumbs-up, .glyphicon-music {
  font-size: 24px;
  padding-right: 5px;
}

.feedMusic {
  font-size: 85px;
  margin-left: 15px;
}

.liked {
  color: #FF0050;
}

#fbShare {
  display: inline-block;
}

#new_playlist {
  display: none;
}

#clearPlaylist, #playlistInput {
  width: 150px;
  
}

.fb-share-button {
  position: relative;
  
}

#fbShareImg {
  height: 40px;
}

#twit {
  height: 40px;
}

#drag {
  
  text-align: center;
  margin-left: -20px;
  margin-top: 35px;
  font-size: 36px;
}


#merchNgigs {
    margin-top: 5px;
    margin-left: 20px;
    display: none;
    vertical-align: top;
    width: 19%;
    min-width: 240px;
    text-align: left;
    
    /*background: rgba(54, 25, 25, .98);  */
    h4, h6 {
      margin-left: 5px;
      margin-top: 5px;
      margin-bottom: 5px;
      display: inline-block;
    }
    }

#moreGigs {
  margin: 0px 10px 10px 10px;
  height: 14px;
}

#moreGigs, #moreMerch {

  a {
    
    text-decoration: none;
    &:hover {
      color: #E50049;
    }
  }
}

#moreMerch {
  float: right;
  margin-right: 10px;
  display: none;
}

#searchPlaceholder {
  text-align: right;
  margin-right: 10px;
}

#Gigs {
    margin: 15px 5px 0px 10px;
    font-size: 12px;
    width: 95%;
    height: 180px;
    display: none;
}

#noGigs {
  text-align: center;
}

#Gigs li {
    margin-left: 0px;
    
    margin-bottom: 10px;
    
    a {
      text-decoration: none;
      
      &:hover {
      color: #E50049;
      }
    }
}

.uberdate {

  width: 100%;
  
  clear: both;
  font-weight: bold;
  a {
    text-decoration: none;
    
    &:hover {
      color: #E50049;
    }
  }
}

.threeGigs {
  width: 279px;
  display: inline-block;
}

#topGigImgDiv {
  display: inline-block;
  vertical-align: top;
}

.topDate {
  width: 350px;
  display: inline-block;
}

.artistImgDiv {
  display: inline;
}


.shareNfriends {
  display: inline-block;
  width: 175px;
  text-align: right;
  vertical-align: top;
}

.goingImg {
  vertical-align: top;
}

.goingImg, .shareGig {
  display: inline-block;
}

.month {
  background-color: red;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  width: 38px;
}

.month, .day{
  float: left;
}

.date-wrap {
  float: left;
  width: 40px;
}

.day {
  border: 1px solid #999;
border-top: 0;
width: 38px;
padding-top: 2px;
padding-bottom: 3px;
font-size: 16px;
text-align: center;
color: black;
background-color: white;
}

#iframeAmazon {
    background-color: white;
    height: 148px;
    width: 475px;
    margin: 10px;
    border: none;
    display: none;
    body {
      text-align: center;
    }
}

#footerPlayer {
  height: 150px;
    position: fixed;
    background-color: #801336;
    bottom: -150px;
    right: 0px;
    width: 100%;
  color: white;
}

/*#Feed{
  margin-top: 2%;
  height: 25%;
  width: 95%;
}*/

li {
    list-style: none;
    img {
    &:hover {
      cursor: pointer;
    }
    }   
}

ol li {
  list-style: decimal;
}

.glyphicon-remove{
  margin-top: 2px;
  display: none;
  cursor: pointer;
  vertical-align: top;
  /*background-color: #333;*/
  font-size: 1.2em;
  }

.commentDelete {
  right: 2px;
  position: absolute;
}


#login{
  position: relative;
  height: 8%;
  width: 100%;
  text-align: center;
}

#newSearch, #editJam, #saveJam, #saveIndexJam, #makeJam, .messageJam, #noJam, .makeFeedJam, #clearPlaylist, .reviewSubmit {
  border-style: none;
  background: #FF0050;
  cursor: pointer;
  color: white;
  /*text-shadow: 0.1em 0.1em 0.15em black;*/
  height: 25px;
}

#makeJam, .makeFeedJam, .messageJam {
  height: 40px;
  width: 44px;
}

.messageJam {
  margin-right: 7.5px;
}

#newSearch {
  margin-top: 12px;
  background-color: white;
  color: black;
}

.search {
 height: 25px;
 float: left;
 margin-top: 12px; 
}

img {border:none;}

.gigBlocks {
  display: inline-block;
  height: 330px;
  overflow: hidden;
  vertical-align: top;
  width: 360px;
  text-align: left;

  ul {
    float: left;
    margin-left: -40px;
  }
  
}

.profileActivity {
  max-height: 475px;
  width: 725px;
  overflow: hidden;
  vertical-align: top;
  text-align: left;
}

.artistLikesUl {
  padding-left: 0px;
}

.fbLikesWide {
  float: left;
  margin-bottom: 10px;
}

.artistImages, .mlImg, .alMlImg {
    height: 115px;
    width: 115px;
    background-image: image-url("ResnateThickerSquare.svg");
    background-repeat:no-repeat;
    background-size: 115px;
    background-position: 50% 50%;
  }

.gigBlocks, #noPastGigs, #noUpcomingGigs, #noSongkick, .profileActivity, #topFive {
  margin: 0px 25px 30px 20px;
}

.latest {
  margin-bottom: 10px;
  a:hover {
    text-decoration: none;
  }
}

.latestImg {
  margin-right: 10px;
}

.latestContent {
  display: inline-block;
  width: 592px;
  vertical-align: top;
}

.latestPlaylistName, .latestSongName, .latestGigDate, #latestGigDate, .reviewGigName {
  font-weight: bold;
  &:hover {
    cursor: pointer;
    color: #E50049;
  }
}

#noPastGigs, #noUpcomingGigs {
  padding-top: 10px;
}

tr {
  vertical-align: top;
}

.navLis {
  display: inline-block;
  /*background: rgba(54, 25, 25, .6);*/
  position: relative;
}

#sign_in {
  
  font-size: 2em;
  &:hover {
    color: #E50049;
    text-decoration: none;
  }
}

#sign_out {
  margin-top: 12px;
  color: white;
}

.sidebar-nav {
  position: fixed;
  width: 250px;
  height: 100%;
  margin-top: 50px;
  color: white;
  a {
    color: white;
  }
}

.navbar {
  background-color: #801336;
  min-width: 910px;
  height: 51px;
  margin-bottom: 0px;
  border: 0px;
  border-bottom: 1px solid black;
  li a {
    padding: 0px;
  }
}

.navLevel {
  text-transform: uppercase;
}



.navbar-static-top {
  width: 100%;
  position: fixed;
  left: 0;
  vertical-align: top;
}

#navTitle {

  cursor: pointer;
  width: 100%;
  white-space: nowrap;
  overflow-x: hidden;
}

.navLis {
  margin-right: 10px;
}

.navbar-right {
  position: absolute;
  right: 30px;
  li {
    padding-left: 15px;
  }
}

#recCount, #pointCount {
  background-color: red;
  color: white;
  height: 22px;
  width: 22px;
  text-align: center;
  position: absolute;
  top: 5px;
  right: -10px;
}


.glyphicon-home, .glyphicon-bell, .glyphicon-envelope, .glyphicon-pause, .glyphicon-play, .glyphicon-fast-forward, .glyphicon-fast-backward {
  margin-top: 12px;
  font-size: 22px;
  color: white;
}

.glyphicon-chevron-down {
  color: white;
  font-size: 16px;
  position: absolute;
  margin-top: 5px;
  right: 5px;
}

.glyphicon-chevron-up {
  color: white;
  font-size: 16px;
}

#maximise {
  background-color: #E50049;
  height: 20px;
  width: 30px;
  text-align: center;
  position: fixed;
  bottom: 0px;
  right: 10px;
  display: none;

}

.privateMsg {
  margin-top: 0px;
  margin-left: 15px;
  font-size: 45px;
  top: 3px;
}

.glyphicon {
  cursor: pointer;
}

.glyphicon-plus {
  font-size: 24px;
}

#noSongkick {
  width: 450px;
  display: inline-block;
  text-align: left;
  vertical-align: top;
  margin-top: 10px;
  margin-bottom: 30px;
  a {
    text-decoration: none;
    font-weight: bold;
    
    &:hover {
      color: #E50049;
    }
  }
}

#noLikes {
  margin-bottom: 20px;
}


#noPlaylists {
  display: inline-block; 
  margin-top: 20px;
}

#skLogo {
  padding-left: 5px;
  position: absolute;
}

#setlistLogo {
  position: relative;
  bottom: 2px;
}

#rsShare {
  position: absolute;
  z-index: 99;
  right: 5px; bottom: 5px;
  display: none;
}

.myDates, .userDates {
  padding-bottom: 0px;
  padding-left: 5px;

}


.msgDates {
  width: 300px;
  padding-left: 0px;
  margin-bottom: 11px;
}

 .userDates {
  height: 50px;
 }

.feedDates {
  padding-left: 0px;
  width: 225px;
}

.date-wrap {
    margin-right: 5px;
    margin-bottom: 10px;
  }

  #seeAll, #seeAllpast, #seeAllActivity, #seePlaylists, #seeAllReviews, .playlistName, .followersOpener, #getLikes, #getUserLikes, .levelNpoints {
    cursor: pointer;
    &:hover {
      color: #E50049;
    }
  }

  .levelNpoints {
    color: white;
  }

#userBadges {
  width: 250px;
  padding-top: 10px;
}

.badgesDiv {
  display: inline-block;
  width: 70px;
}

.badgeImg {
  margin-right: 10px;
  width: 50px;
  max-height: 50px;
  display: inline-block;
  text-align: center !important;
}

.badgesName {
  text-align: center !important;
  width: 50px;
  margin-right: 10px;
  display: inline-block;
  font-size: 0.8em;
}


#picNfollow {
  position: relative;
  }


.follow {
  background-color: lightgreen;
}

.unfollow {
  background-color: #FF0050;
  
}


  .follow, .unfollow {
    width: 80px;
    display: inline-block;
    bottom: 15px;
    left: 15px;
    font-weight: bold;
    font-size: 15px;
    height: 2.6em;
    color: white;
    cursor: pointer;
    border: none;
  }

  .levelNtf {
    color: #FF0050
  }


.followNames {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100px;
  background: rgba(0, 0, 0, .6);
  color: white;
}

#song_query {
  width: 140px;
}

#search_user {
  width: 180px;
  height: 25px;
 margin-top: 12px; 
}

.tt-dropdown-menu {
  background-color: white;
  font-size: 13px;
  width: 180px;
  border: 1px solid grey;
  overflow: hidden;
}

.tt-cursor {
    color: #fff;
    background-color: #FF0050;

}

.userImg {
  height: 40px;
  cursor: pointer;
}

.profileImg {
  height: 90px;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
}

.dropdownImg {
  cursor: pointer;
  height: 40px;
  margin-right: 5px;
}

.userSuggestions, .playlistSuggestions {
  cursor: pointer;
  height: 40.2px;
  margin-bottom: 0px;
  border-top: 1px solid grey;
}

.playlistSuggestions {
  height: 16px;
}

#userButton, .hiddenID, #getPlaylist, #getUpdatePlaylist, #result2, #result3, .hiddenURL, .jamID, .jamTitle,
.hiddenPlaylistID, .hiddenYTName, .sharePlaylistID, #shareSubmit, #messageURL,
#infoIDstuff, .thumbID, #likeOrNot, .likeTrue, #shareCurrentID, #stopID, .btn-default, .invisCount,
#hiddenSongkickID, #hiddenGigsIDs, .hiddenGigID, #hiddenPastGigsIDs, #pastSongkickGigID, .reviewGigID, #pastGigIDsSubmit, #new_gig, .lol, .hiddenUserID, .hiddenGigLocation, .hiddenArtistName, .hiddenGigDate, .hiddenReviewID, #infinite-scrolling .pagination, #hiddenFolloweesIDs,
#deletePlaylistID, .hiddenReviewerID, .hiddenCommentID, #callbackID {
  display: none;
}

.genericContent {
  text-align: left;
  a {
    color: black;
  }
}

.gigUberTable {
  td {
    float: left;  
  }
  
}

.artistImageTd {
  width: 115px;
}

.gigDetailsTd {
  width: calc(100% - 115px);
}

.gigUberTable {
  width: 100%;
}

.setlistList {
  margin-bottom: 50px;
}

.setlistHeader, .photosHeader, .reviewHeader {
  font-weight: bold;
  padding-left: 0px;
}

.featuredHeader {
  text-align: center;
  color: white;
}

.featuredReview {
  background-color: white;
  padding: 15px;
  border: 1px solid #d7d7d7;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  position: relative;
  height: 375px;
  &:after {

      content: "";
      text-align: right;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 70%;
      height: 1.2em;
      background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 90%);


  }
}

.expandReview {
  margin-bottom: 75px;
  background-color: #E50049;
  color: white;
  text-align: center;
  cursor: pointer;
}

.reviewT {
 margin-bottom: 15px; 
 font-size: 1.5em;
}

.reviewerInfo, .reviewLevelNameNPoints {
  display: inline-block;
}

.reviewerBadge {
  height: 2em;
  display: inline-block;
}

.reviewHeader, .reviewContent {
  text-align: left;
}

.reviewContent {
  margin-bottom: 10px;
  line-height: 2em;
  height: 100%;
}

.editReview, .deleteReview, .cancelReview {
  display: inline-block;
  margin: 20px 30px 20px 0px;
  cursor: pointer;
}

.deleteReviewPrompt, .deleteReviewYes, .deleteReviewNo, .cancelReviewPrompt, .cancelReviewYes, .cancelReviewNo {
  display: none;
  cursor: pointer;
  margin-right: 30px;
}

.inlinePrompt {
  display: inline-block;
}

.reviewHeader {
  margin-bottom: 20px;
}

.reviewImg {
  width: 250px;
  cursor: pointer;
}

.likerNumber {
  font-size: 1.5em;
  vertical-align: text-bottom;
  margin-right: 10px;
}

.reviewTitle {
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
  width: calc(100% - 265px);
}

.reviewerPic {
  height: 60px;
  margin-top: 10px;
  cursor: pointer;
}

.reviewPic {
  vertical-align: top;
}

.pastGigreviewInput, .updateReview {
  width: 95%;
}

.pastGigreviewInput {
  height: 10em;
}

.setlistDiv, .review, .photos {
  display: inline-block;
  
  vertical-align: top;
  
}

.csImgReview {
  height: 40px;
}

.setlistDiv {
  width: 20%;
}

.review {
  width: 500px;
  margin-bottom: 40px;
  margin-left: 30px;
}

.photos {
  width: 35%;
}

.setlist {
  clear: both;
  padding-left: 1px;
}


.ml, .alMl {
  position: relative;
  float: left;
  color: white;
  .mlSpan {
    position: absolute;
    bottom: 0px;
    width: 115px;
    background: rgba(0, 0, 0, .6);
    margin-bottom: 0px;
  }
}



#profilePicBig {
  height: 115px;
  margin-bottom: 15px;
}

.profileInfo {
  display: inline-block;
  vertical-align: top;
  form.button_to {
    max-width: 115px;
    display: inline-block;
    margin-top: 20px;
  }
}

.profileInfoLeft {
  width: 115px;
  margin-right: 25px;
}

.profileInfoRight {
  width: 200px;
  h4 {
    margin-top: 0px;
  }
}

#followsAndButtons {
  height: 115px;
}

.levelName {
  margin-top: 4px;
}

.levelName, .points {
  font-weight: bold;
  font-size: 14px;
  text-align: center !important;
}

.filthy {
  color: peru;
}

.hipster {
  color: CornflowerBlue;
}

.uberHipster {
  color: magenta;
}

.hipsterSwag {
  height: 60px;
  margin-left: 27.5px;
}

.groupie {
  color: hotpink;
}

.superGroupie {
  color: fuchsia;
}

.rockStar {
  color: crimson;
}

.rapGod {
  color: midnightblue;
}

#follows {
  width: 100px;
}

#follows, #followers {
  display: inline-block;
  &:hover {
    color: #E50049;
    cursor: pointer;
  }
}

#friendsLikeDiv {
  display: inline-block;
  vertical-align: top;
}

#friendsHeader {
  display: inline-block;
  h4 {
    margin: 0px 10px;
  }
}


.followDiv {
  position: relative;
  cursor: pointer;
  display: inline-block;
  margin-right: 10px;
}

#userMsg {
  position: absolute;
  margin-top: 3px;
  right: 15px;
  padding: 5px;
  height: 32px;
}







.modal-header {
  border-bottom: none;
  
}

.profileName, .feedPic, .activityName, .profileFollowName, .feedFollow, .msgFollow, .feedUnfollow, .profileNameMsg, .messageSong, .msgUnfollow, .playlistCreatorFeed, .reviewerName {
  font-weight: bold; 
}

.profileName, .feedPic, .feedFollowPic, .profileFollowName, .feedFollow, .msgFollow, .feedUnfollow, .profileNameMsg, .msgUnfollow, .reviewerName, .activityName  {
  &:hover {
    color: #E50049;
    cursor: pointer;
  }
}

.feedPlaylist, .feedFollowPic, .feedPic, .inboxSong {
  vertical-align: top;
  height: 90px;
}

.inboxSong {
  margin-left: 10px;
}

.feedPic {
  margin-right: 5px;
}

.fFl, .fUl {
  margin-right: 20px;
}

.profileName, .playlistCreatorFeed, .feedPlaylistName, .activityYT, .messageDetails, .profileNameMsg, .verb, .activityInfo, .commentPic, .commentContent, .profilePlusID, .reviewerName {
  display: inline-block;
}

.inputComment {
  width: calc(100% - 43px);
  height: 40px;
  color: black;
}

.commentPic {
  vertical-align: top;
  margin-right: 3px;
}

.commenterName {
  font-weight: bold;
  &:hover {
    color: #E50049;
    cursor: pointer;
  }
}

.comment, .likers, .reviewButtons {
  margin-bottom: 10px;
}

.commentContent {
  width: calc(100% - 60px);
}

.comment {
  background-color: #801336;
  color: white;
  position: relative;
}

.activityInfo {
  width: 95%;
  margin-top: 15px;
  text-align: left;
}


#noMessages {
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  margin-top: 15%;
}

.messageGigStuff {
  margin-left: 150px;
  width: 300px;
}

.messageGigIcons {
  margin-left: 10px;
}

.messageDetails {
  vertical-align: top;
  padding: 0px 35px 0px 10px;
  width: 500px;
  
}

.createdAt {
  margin-top: 10px;
}

.messageImgs {
  width: 180px;
  height: 180px;
  vertical-align: top;
  display: inline-block;
}

.messageImg {
  display: inline-block;
  float: right;
}

.senderImg {
  float: left;
}

.notificationMsg {
  display: inline-block;
  margin-left: 10px;
}

.notificationDetails {
  display: inline-block;
  width: 350px;
}


.feedGigs, .feedReviewGigs, .feedReviewLikeGigs, .feedYT, .activityYT, .feedBadge {
  cursor: pointer;
  height: 90px;
  vertical-align: top;
}

.followInfo {
  width: 100px;
}

.activity {
  /*margin-top: 20px;*/
  margin-bottom: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #d7d7d7;
  vertical-align: top;
  text-align: center;
}

.feedThumbs {
  padding-right: 0px;
  margin: 10px 30px 0px 0px;
  text-align: center;
}

.feedPlus {
  margin-right: 30px;
}

.feedDropdown {
  margin-left: -40px;
}

.feedCsImg, #shareCurrentImg, #playlistShare, .feedCsImgFollow {
  height: 40px;
  cursor: pointer;
  vertical-align: top;
}

#shareCurrentImg {
  padding-left: 20px;
}

.shareGigNoLike {
  margin-top: 0px;
}

.feedCsImgFollow {
  height: 40px;
}

.feedButtons, .followImgs, .playlistDestroy, .feedFollow, .msgFollow, .feedUnfollow, .msgUnfollow   {
  cursor: pointer;
}

.feedButtons {
  display: inline-block;
  margin-top: 10px;
  text-align: center;
  width: 100%;
}

.feedFollow, .feedUnfollow, .msgFollow, .msgUnfollow, .sideFollowButton, .sideUnfollowButton  {
  background-color: transparent;
  border: none;
  padding: 0px;
}

.feedShares .feedFollow, .feedShares .feedUnfollow, .msgFollow, .msgUnfollow {
  height: 40px;
}

.feedReview, .feedDescription, .profileReview {
  font-style: italic;
  cursor: pointer; 
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  position: relative;
  &:hover {
    color: #E50049;
  }
  &:after {

      content: "";
      text-align: right;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 70%;
      height: 1.2em;
      


  }
}

.feedReview {
  margin-top: 15px;
  height: 4.2em;
}

.profileReview {
  height: 4em;
}


.msgReviewContent {
  cursor: pointer;
  margin-top: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  position: relative;
  height: 4.2em;
  &:hover {
    color: #E50049;
  }
  &:after {
    content: "";
      text-align: right;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 70%;
      height: 1.2em;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 90%);
  }
}

.feedGigLink, .msgReviewName, .msgReviews, .feedGigName {
  
  font-weight: bold;
  &:hover {
    color: #E50049;
    text-decoration: none;
    cursor: pointer;
  }
}

.msgReviewName, .msgReviews {
  color: black;
}

.msgFollow, .msgUnfollow {
  margin-right: 10px;
}

.inboxYT, .msgGigs, .msgReviews {
  display: inline-block;
  margin-left: 10px;
}

.feedShares .button_to {
  display: inline-block;
}

.fUl {
  margin-left: -6px;
}

.playlistDestroy, .feedPlaylistName, .playlistCreatorName, .playlistCreatorFeed, .reviewName {
  &:hover {
    cursor: pointer;
    color: #E50049;
  }
}

.followImgs {
  height: 100px;
}


.notificationImg {
  height: 64px;
  padding: 5px;
  margin-left: 5px;
}

.pointsNotification, .inboxNotification {
  font-size: 18px;
  min-width: 400px;
  &:hover {
    cursor: pointer;
  }
}

.modal {
  height: 100%;

  .modal-content {
  border-radius: 0px;
  overflow: auto;
  height: 100%;
}

.modal-dialog {
width: 900px;
height: 90%;

  overflow: hidden;
}

}

#reviewBody {
  background-color: white;
  color: black;
}


#shareModal {
  margin: auto;
  text-align: center;
  z-index: 2000;

  .modal-content {
    width: 440px;
    margin-left: calc(50% - 220px );
    margin-top: calc(50% - 450px);
    height: 250px;
  }
  .modal-body {
    text-align: left;
    img {
    height: 35px;
    margin-top: -3.5px;
    }
  }
}

.select2-drop, .select2-container, .select2-choice, .select2-container .select2-choice, .select2-drop-above, .select2-drop.select2-drop-above,
 .select2-container.select2-drop-above .select2-choice, .select2-container, .select2-choices, .select2-search-field input, .select2-container, .select2-choice, .select2-container, .select2-choices {
  border-radius: 0px !important;
}


/*.field_with_errors, #playlistMsg, #playlistSaved, #updateConfirmation {
  display: inline-block;
}*/

#playlistMsg, #updateConfirmation {
  
  font-weight: bold;
  
}

#playlistMsg {
  color: red;
}

#updateConfirmation {
  color: #00FF00;
  display: block;
}

#updateWrapper, #playlistWrapper {
  height: 40px;
  
}

#playlistInfo {
  color: black;
  height: 180px;
  
}

#playlistInfoNContent {
  display: inline-block;
  vertical-align: top;
  height: 100%;
}

#update_playlists {
  margin-top: -3px;
  margin-left: 55px;
}

.playlistContent, .playlistUserId, #playlistContent, #savePlaylist, #likeForm, #lastMsgDiv, #hiddenLevel, #getBadge, .startIndex, .genericInfinite-scrolling, .activityLink {
  display: none;
}

.playlistFollowButtons {
  vertical-align: middle;
}

.playlistImg, .latestImg, .inboxSong {
  width: 120px;
  cursor: pointer;
}

.playlistName {
  font-size: 16px;
  padding-left: 15px;
  padding-right: 15px;
  vertical-align: middle;
  width: 180px;
}

.playlistDestroy, .playlistFollowers, .playlistCreator, .playlistShare, .tdDescriptP {
  vertical-align: middle;
  padding-left: 35px;
  
}

.playlistFollowers {
  min-width: 130px;
}

.playlistFollower, .multipleName {
  vertical-align: middle;
}

.notificationYTimg {
  height: 90px;
  cursor: pointer;
  margin-left: 10px;
}

.notificationYTimg {
  vertical-align: top;
}

.msgGigs, .msgReviews {
  width: 90px;
  vertical-align: top;
}

.glyphicon-arrow-up {
  color: #66FF33;
  font-size: 54px;
  margin-top: 5px;
}

.pagination {
  li a, li span {
    color: black;
    &:hover {
      color: black;
    }
    &:focus {
      color: black;
    }
  }
  .active span, .active span:focus {
    background-color: red;
    border-color: red;
  &:hover {
    background-color: #980000 ;
    border-color: #980000;
  }
    
  }
}


.pagination > li:last-child > span, .pagination > li:last-child > a {
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}

.pagination > li:first-child > span, .pagination > li:first-child > a {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}