#azDiv img {
	height: 100%;
	margin: 0 1em;
	display: inline-block;
}

#azDiv {
	text-align: center;
	height: 100%;
}

body {
	overflow: hidden;
	background-color: white;
	font-family: 'Lato', "Helvetica", sans-serif;
	margin: 0;
}

#noMerch {
	margin-top: 10%;
}