*{
    font-size: 0.98em;
    font-family: 'Lato', "Helvetica", sans-serif;
    
}

html, body{
  z-index:-1;
   height: 100%;
   
       -webkit-animation-delay: 0.1s;
    -webkit-animation-name: fontfix;
    -webkit-animation-duration: 0.1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
}

a {
  color: black;
}

@-webkit-keyframes fontfix {
    from { opacity: 1; }
    to   { opacity: 1; }
}



#hub {
  height: 100%;
  width: 99%;
  display: inline-block;
  text-align: center;
  min-width: 1286px;
}


#container {
    position: absolute;
    
    padding: 0px;
    width: 200%;
    height: 200%;
    
}

.box {
    position: absolute;
    width: 50%;
    height: 50%;
    display: inline-block;
  
}


body {
  min-width: 1286px;
}


#Welcome {
  height: 100%;
  width: 99%;
  margin-top: 5%;
  margin-left: 5%;
  
}

#Welcome1{
    display: inline-block;
    vertical-align: top;
    margin-right: 300px;
  }

  .welcomeScreens {
    height: 200px;
  }

  #bigResnate {
    font-size: 80px;
  }

#Welcome2 {
  display: inline-block;
   img{
    width: 270px;
  }
}