body {
	background-image: image-url("testBkgd.jpg");
  	background-repeat:no-repeat;
    background-position: 50% 50%;
    font-family: 'Lato', "Helvetica", sans-serif;
    color: white;
    margin: 0px;
    height: 100%;
    a {
    	color: white;
    	text-decoration: none;
    }
}

#Welcome {
  text-align: center;
  
  width: 100%;
  img {
  	width: 50%;
  }
}

#homeFooter {
	position: absolute;
	bottom: 10px;
}

.mobileHeader {
	height: 10%;
	background-color: #801336;
	width: 100%;
}

.mobileHeaderDiv {
	width: 25%;
	float: left;
}

.mobileDivider {
	height: 22.5%;
	background-color: #E50049;
	vertical-align: top;
}

.mobileProfilePic {
	height: 100%;
}

.mobileProfilePic, .mobileUserInfo {
	display: inline-block;
	vertical-align: top;
}