// Place all the styles related to the ResnatePages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.azImg {

  img {

    height: 100px;
    margin: 0px 15px;
  }
}


#azDiv {
	text-align: center;
}

body {
	overflow: hidden;
}