<% @followers.each do |f| %>
<div class="followInfo">
<%= image_tag "http://graph.facebook.com/#{f.uid}/picture?width=100&height=100", class: "followImgs" %>
      <div class="followNames"><%= f.name %></div>
      <div class="hiddenID"><%= f.id %></div>
</div>
<% end %>

<script type="text/javascript">

$('.followNames, .followImgs').click(function(){
    var userSearch = "/" + $(this).parent().find('.hiddenID').html();
    $('.close').click();
  $.get(userSearch, function(result){
  $('#box3').html(result);});
    $('#box1').animate({
        left: '0%',
        top: '-100%'
    });
  });


</script>