<div class="description">
	<% if @playlist.description.nil? && @playlist.user_id == current_user.id %>
		<textarea class="descriptTxt">Write about this playlist!</textarea>
	<% else %>
		<%= simple_format(@playlist.description, class: "descriptP") %>
	<% end %>
</div>
<% unless @playlist.content.nil? %>
	<% JSON.parse(@playlist.content).each do |p| %>
		<% p.each do |k, v| %>
			<li class="playlistSong playlistSongLi">

				<img class="playlistYT playlistSong" src="https://img.youtube.com/vi/<%= v %>/default.jpg"></img>
				<% if @playlist.user_id == current_user.id %>
					<span class="glyphicon glyphicon-remove"></span>
				<% end %>
				<p class="playlistSongP"><%= k %></p>

			</li>
		<% end %>
	<% end %>
<% end %>
