
<% unless @user.friends.count == 0 %>
         <% @user.friends.each do |friend| %>
         <% unless User.find_by_uid(friend).nil? %>
    <% unless  Gig.where(user_id: User.find_by_uid(friend).id).nil? || Gig.where(user_id: User.find_by_uid(friend).id).count == 0 %>
    <% gigs = Gig.where(user_id: User.find_by_uid(friend).id) %>
    <% gigs.each do |gig| %>
    <% if gig.songkick_id.to_s == params[:songkick_id].to_s %>
    <img src="http://graph.facebook.com/<%= friend %>/picture?width=50&height=50" class="userImg goingImg" title="<%= User.find_by_uid(friend).name %>"></img><div class="followerID"><%= User.find_by_uid(friend).id %></div>

    <% end %>
    <% end %>
    <% end %>
    <% end %>
    <% end %>
    <% end %>
    