<head>
	<meta property="og:title" content="<%= @name %>" />
    <meta property="og:description" content="Resnate: The Music Social Network." />
    <meta property="og:image" content="<%= @image %>" />
    <body>
    	<div class="hiddenReviewID"><%= params[:id] %></div>
    	<div id="publicReview"></div>
    </body>
 </head>

 <script type="text/javascript">

 	$(function(){
 		$.get('/reviews/' + $('.hiddenReviewID').html(), function(result){
 			$('#publicReview').html(result);
 		});
 	});

 </script>
