
if($('#footerPlayer').css('bottom') == '-150px'){
   $('#footerPlayer').animate({bottom: '+=150'});
   $('#footerPlayer').css('bottom', '0px');
}
$('#infoID').val(videoID);
        $('#navButtons').html('<li class="navLis"><span class="glyphicon glyphicon-fast-backward" ></span></li><li class="navLis"><span class="glyphicon glyphicon-pause" ></span></li><li class="navLis" style="display:none"><span class="glyphicon glyphicon-play" ></span></li><li class="navLis"><span class="glyphicon glyphicon-fast-forward" ></span></li>');

        if($(this).hasClass('playlistSong')) {
        var songName = $(this).find('p').text().trim();
      } else if($(this).hasClass('videoResultsDivLi')) {
        var songName = $(this).find('p').text().trim();
      } else if($(this).hasClass('latest')) {
        var songName = $(this).find('.latestSongName').text().trim();
      }
       else {
      var songName = $(this).siblings('p').text().trim();
    }
        

        
        
    
        $('#infoIDName').val(songName);
        $('#subHistory').click();

              player.loadVideoById(videoID ); 
              var shareURL = "youtu.be/" + videoID;
              var tweetVideo = songName.slice(0,96).replace(/\"|\#|\&/g, '');
              $('#infoTitle').html(songName);
              $('#navTitle').html(songName);
    $('#footerPlayer').find('#currentShare').html('<span class="glyphicon glyphicon-plus csIcons"></span><div class="btn-group"><button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"></button><ul class="dropdown-menu" role="menu" aria-labelledby="dLabel"></ul></div><span class="glyphicon glyphicon-thumbs-up csIcons"></span><%= image_tag "ResnateShareIcon.png", id: "csImg", "data-toggle" => "modal", "data-target" => "#shareModal", class: "csIcons" %><a id="fbShare" class="twitter popup csIcons" href="https://facebook.com/sharer/sharer.php?app_id=397688387002984&u='+shareURL+'"><%= image_tag "facebook.jpg", id: "fbShareImg" %></a><a id="tweeter" class="twitter popup csIcons" href="https://twitter.com/share?url=resnate.com&text=Listening%20to%20'+tweetVideo+' '+shareURL+' @resnate"><%= image_tag "twitter.png", id: "twit" %></a>');
    
    $.get("/<%= current_user.id %>/"+$('#infoID').val()+"/songs/show", function(result){
        $('#likeOrNot').html(result);
        if($('#likeOrNot').html() == '') {
          
        } else {
          $('#currentShare .glyphicon-thumbs-up').addClass('liked');
        }
      });

     


