<%= stylesheet_link_tag "phone", media: "all",
                                           "data-turbolinks-track" => true %>
<link href='//fonts.googleapis.com/css?family=Lato:400,900' rel='stylesheet' type='text/css'>
<div id="phoneDiv">
<h1>Resnate.</h1>
<h2>For Hardcore Music Fans.</h2>
<%= yield %>
</div>