    <% setlistURL = "http://api.setlist.fm/rest/0.1/search/setlists.json?artistName=" + @artistName + "&cityName=" + @cityName + "&date=" + @pastGigDate +"&apikey=ece37fb8-74e5-40e1-b04a-a0c4f23b732d" %>

    <% url = URI.parse(setlistURL.gsub(" ", "+")) %>
    <% request = Net::HTTP.get_response(url) %>

    <% if request.body.include?("not found") || request.body.include?('"sets":""') %>
      <li class="setlistList"> No setlist found </li>
      
    <% else %>
      
      
      <% isArray = JSON.parse(request.body)["setlists"]["setlist"].kind_of?(Array) %>
      <% if isArray == false %>
      <% result = JSON.parse(request.body)["setlists"]["setlist"]["sets"]["set"] %>
      
      <li class="setlistList">
        <ul class="setlistHeader">Setlist</ul>
      <% setsLength = result.length-1 %>
      <% for i in 0..setsLength %>
        <% if setsLength == 0 %>
          <% allSets = result["song"] %>
        <% else %>
          <% allSets = result[i]["song"] %>
        <% end %>
        <% setLength = allSets.length-1 %>
        
        <% for j in 0..setLength %>
          <% if allSets[j].nil? %>
            <ul class="setlist"><li><%= allSets["@name"] %></li></ul>
            <% break %>
          <% else %>
            <ul class="setlist"><li><%= allSets[j]["@name"] %></li></ul>
          <% end %>
        <% end %>

      <% end %>
      </li>
      <% else %>
        <% JSON.parse(request.body)["setlists"]["setlist"].each do |show| %>
        
          <li class="setlistList">
        <ul class="setlistHeader">Setlist</ul>
          <% setsLength = show["sets"]["set"].length-1 %>
          <% for i in 0..setsLength %>
        <% if setsLength == 0 %>
          <% allSets = show["sets"]["set"]["song"] %>
        <% else %>
          <% allSets = show["sets"]["set"][i]["song"] %>
        <% end %>
        <% setLength = allSets.length-1 %>
        
        <% for j in 0..setLength %>
          <% if allSets[j].nil? %>
            <ul class="setlist"><li><%= allSets["@name"] %></li></ul>
            <% break %>
          <% else %>
            <ul class="setlist"><li><%= allSets[j]["@name"] %></li></ul>
          <% end %>
        <% end %>

      <% end %>
        </li><br>
        <% end %>
      <% end %>

      <% end %>


