<textarea class="pastGigreviewInput noReview" placeholder="Write a review of the show to your heart's extent (as long as your heart's extent is less than 5000 characters)!"></textarea>

<div class="saveReviewButton editDeleteBkgd" data-toggle="modal" data-target="#reviewModal">Save</div>
<div class="cancelReviewButton editDeleteBkgd">Cancel</div>
<div class="pgID"><%= @pg.id %></div>